h1 {
    font-size: 4rem;
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin-top: -0.5rem;
    margin-left: 2rem;
}

ul {
    display: flex;
    font-size: 1.7rem;
    margin-left: 56rem;
    margin-right: 1rem;

}

a span{
     font-weight: 480; 
     color:black;
}

html {
    scroll-behavior: smooth;
}

li {
    margin: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

#mainimg {
    margin-left: 2rem;
    margin-right: 2rem;
}

#article {
    text-align: center;
    display: flex;
    inline-size: 80rem;
}

.article-section {
    margin: 20px;
}

#article p {
    font-size: 1.5rem;
}

#article h2 {
    font-size: 2rem;
}

footer {
    color: aliceblue;
    background-color:gray;
    text-align: center;
    font-size: 3rem;
    padding: 0.1rem;
}